body{
    background-image: url("https://images.unsplash.com/photo-1506617564039-2f3b650b7010?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.table{
    border-style: hidden;
    width: 120%;
    margin-left: -9.5%;
    margin-right: 18%;
    margin-bottom: -10%;

}
